.introduction {
  position: relative;
  height: 95vh;
  color: white;

  @media screen and (max-width: 800px) {
    height: unset;
  }

  &__title {
    margin: 2rem 0 0 0;
    padding: 0;
    width: 24rem;
    font-weight: bold;
    font-size: 2.1rem;

    @media screen and (max-width: 700px) {
      margin-top: 18rem;
      width: unset;
      font-size: 1.8rem;
    }
  }

  &__description {
    width: 60vw;
    margin-top: 4rem;
    font-size: 1rem;

    @media screen and (max-width: 700px) {
      margin-top: 2rem;
      width: unset;
    }
  }

  &__button {
    margin-top: 4rem;
    padding: .4rem 2rem;
    background: white;
    color: black;
    border: 0;
    border-radius: 1rem;

    @media screen and (max-width: 700px) {
      margin-top: 2rem;
    }
  }

  &__content {
    padding: 2rem;
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 10vh, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 10vh, 0 90%);
    background: #3061b4;

    @media screen and (max-width: 800px) {
      -webkit-clip-path: unset;
      clip-path: unset;
      height: unset;
    }
  }

  &__fig {
    position: absolute;
    top: 5vh;
    right: 0;

    @media screen and (max-width: 700px) {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      width: 34rem;

      @media screen and (max-width: 1200px) {
        width: 16rem;
      }
    }
  }
}
