.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #3061b4;
  color: white;
  padding: 1rem 2rem;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  &__logo {
    font-size: 2.3rem;
  }

  &__menu {
    display: flex;
    justify-items: center;
    align-items: center;

    @media screen and (max-width: 700px) {
      margin-top: 1rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;

      @media screen and (max-width: 400px) {
        margin-right: 1rem;
      }
    }

    &--button {
      padding: .4rem 2rem;
      background: white;
      color: black;
      border-radius: 1rem;
    }
  }
}