.plan {
  position: relative;
  background: white;
  box-shadow: 3px 10px 34px -4px rgba(122,122,122,.3);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 25rem;
  width: 100%;
  margin-bottom: 3rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  @media screen and (max-width: 800px) { 
    &:first-child {
      margin-left: 1rem;
    }
  }

  /* Hacking for spacing on carrousel */
  &:after {
    content: '';
    position: absolute;
    right: -1rem;
    width: 1rem;
    height: 1px;
    background: transparent;
  }

  &--recommended {
    .plan__name {
      margin-top: 2rem;
    }
  }

  &__recommended_tag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .3rem;
    background: #3061b4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__icon {
    background: #3061b4;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 1rem;
  }

  &__price_container {
    margin-bottom: 1rem;

    span {
      font-size: 1.3rem;

      &.plan__price {
        font-weight: bold;
        margin-left: .2rem;
      }
    }
  }

  &__description {
    margin-bottom: 2rem;
    align-self: flex-start;
  }

  &__purchase_btn {
    text-transform: uppercase;
    border: 1px solid #3061b4;
    border-radius: 20px;
    text-align: center;
    padding: .5rem 3rem;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    
    &:hover {
      color: white;
      background: #3061b4;
    }
  }
}
