.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__icon {
    background: #3061b4;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  &__title {
    font-weight: bold;
    margin-top: .5rem;
  }

  &__description {
    margin-top: .3rem;
  }
}
