.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem;
  grid-template-areas:
    'overview   box1  box2'
    'empty      box3  box4';


  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas:
        'overview'
        'box1'
        'box2'
        'box3'
        'box4';
  }

  .overview {
    grid-area: overview;
  }

  .box {
    &:nth-child(0) {
      grid-area: box1;
    }

    &:nth-child(1) {
      grid-area: box2;
    }

    &:nth-child(2) {
      grid-area: box3;
    }

    &:nth-child(3) {
      grid-area: box4;
    }
  }
}
