.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  
  &__title {
    font-size: 1.5rem;
  }

  &__plans {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 800px) {
      overflow-x: auto;
      justify-content: unset;
    }
  }
}
